<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mq.agenda.user.mapper.AdminMapper">

    <insert id="add" parameterType="com.mq.agenda.user.bean.Admin">
        insert into user values (#{useremail},#{username},#{password})
    </insert>
</mapper>